@CHARSET "UTF-8";

div#header {
	display: block;
	width: 100%;
	background-color: #44a;
	
	border-bottom: medium solid #888;
}

h1#title {
	padding: 5px;
	margin: 0;
}

h1#title a {
	font-family: tahoma, trebuchet ms, helvetica, arial, verdana, sans-serif;
	font-size: 24pt;
	color: #fff;
	text-decoration: none;
}

h1#title a:hover{
	text-decoration: underline;
}

div#content {
	display: block;
	width: auto;
	margin: 10px;
}

li {
	margin-top: 15px;
	margin-bottom: 15px;
}

body {
	margin: 0;
	padding: 0;
}

* {
	font-family: helvetica, arial, verdana, sans-serif;
}